@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

img {
    width: 600px;
    margin: 0 auto;
}

body {
    background-color: #F7CAC9;
    font-family: "Lora", serif;
    font-size: 15px;
}

h1 {
    width: 1000px;
    margin: 0 auto;
}

nav  a{
    color: black;
}
@media (max-width: 556px) {
    main img {
        width: 75%
    }
}